.footer{
    background-color:#b69c8b;
    color: #312c26;
    padding: 20px 0px;
    display: flex;
    padding-left: 20%;
    align-items: center;
        div{
            div{
                a{ color: #eceaeb;
                    text-decoration: none;

            }
            .socialmedia{
                margin-left: 50%;
        }
        }
    }

}