.sectionindex{
    background-color: #c4b596;
    padding: 10% 30% 5% 30%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;    }
    .sectionindex p{
        margin: 20px;
        .imageindex{
            margin: 0;
            padding: 0;
            display: flex;    }
        }
        .sectionindex2{
            background-color: #949696;
            padding: 10% 30% 5% 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }